*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8F8F8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* MENU DE NAVEGACION */

header{
    background-color: #2D46B9;
}

#titulo-header{
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: "Neon";
    color: white;
    font-size: 4vh;
}

#lista{
    display: flex;
    margin-left: auto;
    align-items: center;
}

#lista a{
    color: white;
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
}

#lista a:hover{
    color: #F037A5
}

#logo{
    width: 10vh;
    height: auto;
}

/* HERO */

.hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../img/concierto2.png);
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family: "Neon";
    src: url(../fonts/Neon\ AI\ Italic.otf);
}

.hero h1{
    color: white;
    font-family:"Neon";
    text-align: center;
    font-size: 7vh;
    background-color: rgba(0, 0, 0, 0.400);
    border-radius: 3vh;
    padding: 5vh;
    margin-right: 5vh;
    margin-left: 5vh;
}

.hero h3{
    color: white;
    text-align: center;
    font-size: 3vh;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.400);
    border-radius: 3vh;
    padding: 5vh;
    margin-right: 5vh;
    margin-left: 5vh;
}

.hero h3 img{
    width: 4vh;
}

/* CUENTA REGRESIVA */

#cuenta{
    display: flex;
    gap: 3vh;
}

#cuenta p{
    display: flex;
    gap: 15%;
    color: white;
    font-weight: 500;
    font-size: xx-large;
}

.puntos{
    display: flex;
    color: white;
    font-weight: 500;
    font-size: x-large;
}

/* FOOTER */

footer{
    background-color: #F037A5;
    height: 100%;
    padding-bottom: 1%;
}

footer h2{
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5vh;
    font-size: large;
}

footer p{
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: medium;
    font-weight: 400;
    padding-left: 15vh;
    padding-right: 15vh;
}

footer h1{
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: 600;
}

#redes{
    display: flex;
    gap: 5vh;
    justify-content: center;
}

#redes img{
    height: 5vh;
}